# Database Configuration
MONGODB_URI=your_mongodb_connection_string_here

# Google Calendar API for Attendance Holidays
GOOGLE_CALENDAR_API_KEY=your_google_calendar_api_key_here

# Next Auth / Security (jika kelompokmu pakai)
NEXTAUTH_SECRET=your_nextauth_secret_here